@media (max-width: $screen-sm-max) {
  .issuable-affix {
    margin-top: 20px;
  }
}

@media (max-width: $screen-md-max) {
  .issuable-affix {
    position: static;
  }
}

@media (min-width: $screen-md-max) {
  .issuable-affix {
    &.affix-top {
      position: static;
    }

    &.affix {
      position: fixed;
      top: 70px;
      margin-right: 35px;
    }
  }
}

.issuable-context-title {
  margin-bottom: 5px;

  .avatar {
    margin-left: 0;
  }

  label {
    color: $gl-gray;
    font-weight: normal;
    margin-right: 4px;
  }
}

.project-issuable-filter {
  .controls {
    float: right;
    margin-top: 7px;
  }

  .center-top-menu {
    text-align: left;
  }
}

.issuable-details {
  .page-title {
    margin-top: -15px;
    padding: 10px 0;
    margin-bottom: 0;
    color: #5c5d5e;
    font-size: 16px;

    .author {
      color: #5c5d5e;
    }

    .issue-id {
      color: #5c5d5e;
    }
  }

  .issue-title {
    margin: 0;
    font-size: 23px;
    color: #313236;
  }

  .description {
    margin-top: 6px;

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.issuable-filter-count {
  span {
    display: block;
    margin-bottom: -16px;
    padding: 13px 0;
  }
}
